@mixin random-mixin {
}

$screen-xxs: 22.857rem;
$screen-xs: 35.714rem;
$screen-md: 39.286rem;
$screen-lg: 85.714rem;

//Colors

$blue: rgb(59, 73, 223);
$green: rgb(75, 181, 67);

$fonts: 'Poppins', Helvetica, sans-serif;
$primary-color: #ab99ca;
$spacing: 2rem;

$primary-color: #ab99ca;
$spacing: 2rem;
$dark-grey: #999;
